.apt {
    height: 550px;
    position: relative;

}

.bkmsg {
    color: black;
    font-family: serif;
    font-size: 40px;
    position: absolute;
    left: 300px;
    top: 50px;
    text-align: left;
    z-index: 10;
    /* float: left;
    color: white;
    font-family: serif;
    font-size: 40px;
    padding-top: 30px;
    text-align: left; */
}