.searchBox {
    position: relative;
    top: 120px;
    left: 350px;
}


.buttonStack {
    position: relative;
    top: -50px;
    left: 520px;

}


.boxSx {
    position: absolute;
    left: 100px;
}