
.navbartxtcolour {
    /* position:absolute;
    color: black;
    font-family: serif;
    
    padding-left: 30px;
    text-decoration: none;
    right: 0px; */

    padding-left: 30px;
    color: black;
    font-size: 25px;
}

.navbarposition {
    position: fixed;
    right: 200px;
    top: 35px;
    z-index: 70;
}

