
.navbartxtcolour {
    position:relative;
    color: black;
    font-family: serif;
    font-size: 25px;
    padding-left: 30px;
    text-decoration: none;
}

.navbarposition {
    padding-top: 50px;
}

