.layer3div {
    position: relative;
    top: 100px;
}

.layer4div {
    position: relative;
    top: 50px;
}

.lay1 {
    position: relative;
    text-align: left;
    font-size: 40px;
    color:peru;
    font-family: serif;
    padding: 0 150px;
}

.lay2 {
    position: relative;
    text-align: centre;
    top: -110px;
    font-size: 40px;
    color:peru;
    overflow: visible;
    padding: 0 500px;
}

.lay3 {
    text-align: right;
    position: relative;
    font-size: 40px;
    color:peru;
    top: -200px;
    padding: 0 200px;
}

.lay4 {
    text-align: left;
    inherits: false;
    left: 150px;
    bottom: 150px;
    font-size: 50px;
    color: black;
    position: relative;
    font-family: serif;
}
 
.lay5 {
    text-align: left;
    left: 100px;
    font-size: 20px;
    padding-bottom: 100px;
    color: black;
    position: relative;
    bottom: 200px;
    font-family: serif;
    padding-top: 70px;
}

.image3 {
    display: block;
    width: 40%;
    height: 30%;
    position: relative;
    left: 800px;
    bottom: 700px;
    
}