.apt {
    height: 600px;
    width: 1700px;
    z-index: 1;
    position: relative;
    top: 100px;
    left: 0px;
}

.bkmsg {
    color: white;
    font-family: serif;
    font-size: 40px;
    position: absolute;
    left: 300px;
    top: 50px;
    text-align: left;
    /* float: left;
    color: white;
    font-family: serif;
    font-size: 40px;
    padding-top: 30px;
    text-align: left; */
}